# CampusFlow Lite - Variables d'environnement
# Copier ce fichier en .env et remplir les valeurs
# Ne jamais committer .env dans Git !

DB_HOST=localhost
DB_PORT=5432
DB_NAME=campusflow
DB_USER=postgres
DB_PASSWORD=Olama1235
